@model IList<Post>

<div class="home-banner">
    <h1>C# - Blog Site</h1>
</div>
<h2>Posts</h2>
<div class="home-container">
    @foreach (var p in Model)
    {
        var img_path = $"/Image/{p.Image}";
    <div class="post-wrapper">
        <a asp-controller="Home" asp-action="Post" asp-route-Id="@p.Id">
            <img src='@img_path' />
        </a>
        <a class="post-link" asp-controller="Home" asp-action="Post" asp-route-Id="@p.Id">
            <h3>@p.Title</h3>
            <div class="post-content">
                <p>@p.Created.ToString().Substring(11)</p>
                <p>@p.ApplicationUserName</p>
            </div>
        </a>
    </div>
    }
</div>





@*
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <th>@p.Id</th>
                <th>@p.Title</th>
                <th>
                    <a class="btn btn-info" asp-controller="Home" asp-action="Post" asp-route-Id="@p.Id">Go to post</a>
                </th>
                <th>
                </th>
            </tr>
        }

    </tbody>
</table>
    *@
@* <img src="~/content/static/duck.jpg"  width="300" height="300"/>*@